@font-face {
    font-family: 'chapaza';
    src: url('../fonts/Chapaza.ttf');
}

@font-face {
    font-family: 'Clone';
    src: url('../fonts/Clone.otf');
}

@font-face {
    font-family: 'Rose';
    src: url('../fonts/Rose.otf');
}

@font-face {
    font-family: 'Didact';
    src: url('../fonts/Didact.ttf');
}

@font-face {
    font-family: 'Marvelous';
    src: url('../fonts/Marvelous.ttf');
}


/*Login Style*/
.Login-Header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0376A8;
    font-size: 35px !important;
}

.login-image{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('pictures/NGCB.png');
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 5%;
    
}

.login-content{
    padding-top: 5%;
}

#login-username{
    padding-left: 2%;
}

#login-password{
    padding-left: 2%;
}

#create-account-btn{
    padding-top: 20% !important;
}

body {}

nav {
    background-color: #173753 !important;
    color: black !important;
    font-size: 20px !important;
    font-family: Clone;
}


.side-nav {
    background-color: #ECF5F8 !important;
}

.side-nav a{
    color: black !important;
    font-size: 20px !important;
    font-family: Clone;
}

.collapsible-header {
    color: black !important;
}

.login-btn {
    width: 100% !important;
    padding-bottom: 2% !important;
    color: #ffffff !important;
    background-color: #4C99AF !important;
}

#create-account-btn {
    margin-top: 6% !important;
}

.icon {
    color: #0D1F2D;
}

#NGCB {
    float: right;
    padding-right: 2%;
    color: #E8CC13;
    font-family: Didact;
    margin-bottom: 0;
}

/* Style for Dashboard */
.Calendar-Todo-Container {
    background-color: #F0F1F2;
    margin-top: 1%;
    margin-left: 2% !important;
    border-radius: 5%;
    border: 2px solid #3E3E3F;
}

.Panel-Header {
    font-size: 20px;
    color: #F0FCF6;
    background-color: #1A5D89;
    padding: 1%;
    border-spacing: 0;
    border-collapse: collapse !important;
    text-align: center;
    border-radius: 7% !important;
}

.Calendar-Container {
    padding-top: 2%;
}

#text-headers {
    font-weight: bold;
    font-size: 20px;
}

.datepicker {
    width: 20% !important;
    min-width: 18% !important;
    max-width: 20%;
    text-align: center;
}

.input-field-todo {
    width: 95% !important;
    padding-top: 1%;
    padding-left: 5% !important;
    color: black !important;
    border-radius: 5% !important;

}

.materialize-textarea {
    border-radius: 4% !important;
}

#todo-label {
    padding-left: 5% !important;
    margin-top: 2%;
    font-size: 21px;
}

.todo-btn {
    float: right !important;
    margin-bottom: 2%;
    color: #0D1F2D !important;
    background-color: #ffffff !important;
}

.Task-Container {
    background-color: #F0F1F2;
    margin-top: 1%;
    margin-left: 1% !important;
    border-radius: 5%;
    border: 2px solid #3E3E3F;
    width: 45% !important;
}

.task-btn {
    float: right !important;
    margin-bottom: 2%;
    color: #0D1F2D !important;
    background-color: #ffffff !important;
}

.Material-Left-Container {
    background-color: #F0F1F2;
    margin-top: 1%;
    margin-left: 2% !important;
    padding-bottom: 1% !important;
    border-radius: 2%;
    width: 96% !important;
    border: 2px solid #97A0A5;
    text-align: center;
}


/* Style for Site > Project */
.projects-btn {
    background-color: #1A5D89 !important;
    color: white !important;
}

.viewinventory-btn,
.edit-btn,
.reopen-btn {
    color: #0D1F2D !important;
    background-color: #ffffff !important;
}

.viewinventory-btn{
    margin-top: 2% !important;
}

.view-inventory-container{
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
}

/* Style for Site > Site Materials */
.matname-btn {
    background-color: #1A5D89 !important;
    color: white !important;
}

.site-materials-container{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.site-materials-content{
    padding: 5%;
}

.site-materials-head > tr > th{
    background-color: #0B415E !important;
    font-size: 19px;
    border-radius: 2%;
    color: white;
}

.td-category{
    text-align: left !important;
    background-color: #EBF0F7;
    padding-left: 2%;
    font-size: 20px;
}


/* Style for Site > Category */
.category-btn,
.itemcategory-btn {
    background-color: #1A5D89 !important;
    color: white !important;
}

.viewcategory-btn{
    color: #0D1F2D !important;
    background-color: #ffffff !important;
}

th {
    text-align: center !important;
}

/* Style for Report*/
.report-btn {
    background-color: #1A5D89 !important;
    color: white !important;
}

/* Style for Site > Category */
.hauling-form{
    background-color: #CED0D2 !important;
}


/* Style for admin*/

.Cards-Container {
    background-color: #F0F1F2;
    margin-top: 2%;
    margin-left: 2% !important;
    border-radius: 3%;
    border: 1px solid #3E3E3F;
    width: 30% !important;
}

.Account-Container {
    background-color: #E78C1E;
    color: white;
}

.Account-Creation-Container {
    background-color: #4F6438;
    color: white;
}

.Password-Reset-Container {
    background-color: #0B415E;
    color: white;
}
