@font-face {
  font-family: 'chapaza';
  src: url('../fonts/Chapaza.ttf');
}

@font-face {
  font-family: 'Clone';
  src: url('../fonts/Clone.otf');
}

@font-face {
  font-family: 'Rose';
  src: url('../fonts/Rose.otf');
}

@font-face {
  font-family: 'Didact';
  src: url('../fonts/Didact.ttf');
}



body {}

nav {
  background-color: #0B2027 !important;
  
}

#NGCB {
  float: right;
  padding-right: 3%;
  color: #E8CC13;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Style for Dashboard */
.Calendar-Todo-Container {
  background-color: #ECF8F8z;
  margin-top: 1%;
  margin-left: 2% !important;
  border-radius: 5%;
  border: 2px solid #97A0A5;
}

.Panel-Header {
  font-size: 20px;
  color: #F0FCF6;
  background-color: #0B2027;
  padding: 1%;
  border-spacing: 0;
  border-collapse: collapse !important;
  text-align: center;
  border-radius: 7% !important;
  
}

.Calendar-Container {
  padding-top: 2%;
}

#text-headers {
  font-weight: bold;
  font-size: 20px;
  font-family: ;
}

.datepicker {
  width: 20% !important;
  min-width: 18% !important;
  max-width: 20%;
  text-align: center;
}

.input-field-todo {
  width: 95% !important;
  padding-top: 1%;
  padding-left: 5% !important;
  color: black !important;
  border-radius: 5% !important;

}

.materialize-textarea {
  border-radius: 4% !important;
}

#todo-label {
  padding-left: 5% !important;
  margin-top: 2%;
  font-size: 20px;
}

.todo-btn {
  float: right !important;
  margin-bottom: 2%;
  color: #EDE1D1 !important;
  background-color: #383838 !important;
}

.Task-Container {
  background-color: #F0F1F2;
  margin-top: 1%;
  margin-left: 1% !important;
  border-radius: 5%;
  border: 2px solid #97A0A5;
  width: 45% !important;
}

.task-btn {
  float: right !important;
  margin-bottom: 2%;
  color: #EDE1D1 !important;
  background-color: #383838 !important;
}

.Material-Left-Container {
  background-color: #F0F1F2;
  margin-top: 1%;
  margin-left: 2% !important;
  padding-bottom: 1% !important;
  border-radius: 2%;
  width: 96% !important;
  border: 2px solid #97A0A5;
  text-align: center;
}

/* Style for Site > Project */

/* Style for Site > Site Materials */